.svn/                                                                                                                                                                                                                             
target/
.settings
.project
.classpath
gitlog
